@charset "utf-8";

html, body {
    background-color: #6851ff;
}

.month_total_background {
    display: block;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    background-image: url("../src/main_background.png");
    background-position: center;
    background-size: contain;
}

.month_total {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 9rem;
    color: #6851ff;
    font-family: 'Heebo', sans-serif;
}

.month_total h2 {
    font-size: 3rem;
    color: #aaaaaa;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

#subsc_list {
    font-size: 2.6rem;
    color: #FFFFFF;
    width: 90%;
    margin: 40px 5% 0;
    line-height: 120px;
}
#subsc_list tr {
    height: 120px;
}

.pay_day {
    width: 10%;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}

.pay_day span {
    display: block;
    width: 9vw;
    height: 9vw;
    line-height: 9vw;
    border: solid #ffffff 2px;
    border-radius: 9vw;
    font-size: 3rem;
    text-align: center;
}

.pay_name {
    width: 65%;
    text-align: center;
}

.pay_price {
    width: 25%;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.9rem;
}

.pay_price span {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.9rem;
}
