@charset "utf-8";

html, body {
    background-color: #6851ff;
    font-family: 'Open Sans', sans-serif;
}

/*--- 新規サブスク追加タイトル ---*/
.create_title {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 5rem;
    color: #6851ff;
    font-family: 'Heebo', sans-serif;
}

.month_total_background {
    display: block;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    background-image: url("../src/main_background.png");
    background-position: center;
    background-size: contain;
}

.month_total {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 9rem;
    color: #6851ff;
    font-family: 'Heebo', sans-serif;
}

.month_total h2 {
    font-size: 3rem;
    color: #aaaaaa;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

#subsc_list {
    font-size: 2.6rem;
    color: #FFFFFF;
    width: 90%;
    margin: 40px 5% 0;
    line-height: 120px;
}
#subsc_list tr {
    height: 120px;
}

.pay_day {
    width: 10%;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}

.pay_day span {
    display: block;
    width: 9vw;
    height: 9vw;
    line-height: 9vw;
    border: solid #ffffff 2px;
    border-radius: 9vw;
    font-size: 3rem;
    text-align: center;
}

.pay_name {
    width: 65%;
    text-align: center;
}

.pay_price {
    width: 25%;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.9rem;
}

.pay_price span {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.9rem;
}


form {
    text-align: center;
}

input {
    display: block;
    width: 70vw;
    height: 100px;
    margin: 100px auto 0;
    background: none;
    border: none;
    outline: none;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
}

input::placeholder {
    color: #e4e4e4;
}

.submit_button {
    display: block;
    width: 400px;
    height: 100px;
    margin: 100px auto 0;
    background-color: white;
    color: #6851ff;
    font-weight: bold;
    font-size: 3rem;
    outline: none;
    border: none;
    border-radius: 10px;
}

.jump_link {
    margin-top: 100px;
    text-align: center;
}

.jump_link :link, .jump_link :visited {
    color: #ffffff;
    font-size: 3rem;
}

.add_button, .add_button :link, .add_button :visited {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    width: 17vw;
    height: 17vw;
    line-height: 17vw;
    border-radius: 17vw;
    background-color: #ffffff;
    color: #6851ff;
    font-size: 12vw;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
}

.add_button:focus {
    border: none;
    outline: none;
}
